@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf") format("truetype");
}

* {
  font-family: "Poppins", Poppins;
  color: #eef4ed;
}

body {
  background-color: #1a1a1a;
}
